<html>
  <head>
    <meta charset="UTF-8">
    <title>Event Description</title>
    <link rel="stylesheet" href="/stylesheets/ed.css">
  </head>
  <body>
    <p>
      {{ item.eventname }}
    </p>
    <p>
      {{ item.start.month }}/{{item.start.day}}/{{item.start.year}} at {{ item.start_time }} to {{ item.end.month }}/{{item.end.day}}/{{item.end.year}} at {{ item.end_time }}
    </p>
    <p>
      Location:
      {{item.location}}
    <p>Description:
      {{ item.description }}
    </p>
    <p>
      Tags:
        {% if item.musictag=="on" %}
          <div class= "buttons"><form action="/music"><button type="submit">Music</button></form></div>
        {% endif %}
        {% if (item.theatertag=="on") %}
          <div class= "buttons"><form action="/theater"><button type="submit">Theater</button></form></div>
        {% endif %}
        {% if (item.dancetag=="on") %}
          <div class= "buttons"><form action="/dance"><button type="submit">Dance</button></form></div>
        {% endif %}
  </body>
</html>
