<html>
  <head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="/stylesheets/searchresults.css">
  </head>
    <body>
      <div id="back">
        <a href="/"> Back to Main</a>
      </div>
      <ul id="navigation">
      {% for item in navigation %}
      <li>
        <div id="header">
          <p>Event Title:
          {{ item.eventname }}
        </div>
        </p>
        <p>Description:
          {{ item.description }}
        </p>
        <p>Starts:
          {{ item.start.month }}/{{item.start.day}}/{{item.start.year}} at {{ item.start.hour }}:{{ item.start.minute }}
        </p>
        <p>Ends:
          {{ item.end.month }}/{{item.end.day}}/{{item.end.year}} at {{ item.end.hour }}:{{ item.end.minute }}
        </p>
        <p>Location:
          {{ item.location }}
        </p>
        <p>
          Tags:
          {% if item.musictag=="on" %}
            <div class= "buttons"><form action="/music"><button type="submit">Music</button></form></div>
          {% endif %}
          {% if (item.theatertag=="on") %}
            <div class= "buttons"><form action="/theater"><button type="submit">Theater</button></form></div>
          {% endif %}
          {% if (item.dancetag=="on") %}
            <div class= "buttons"><form action="/dance"><button type="submit">Dance</button></form></div>
          {% endif %}
        </p>
        <a href="/ed?key={{item.key.id()}}">See More</a>
        <hr>
      </li>
      {% endfor %}
      </ul>
    </body>
</html>
