<html>
  <head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="/stylesheets/searchresults.css">
  </head>
    <body>
      <div id="back">
        <a href="/"> Back to Main</a>
      </div>
      <ul id="navigation">
      {% for item in navigation %}
      <li>
        <div id="header">
          <p>
          {{ item.eventname }}
        </div>
        </p>
        <p>
          {{ item.start.month }}/{{item.start.day}}/{{item.start.year}} at {{ item.start_time }}
        </p>
        <p>
          {{ item.location }}
        </p>
        <p>
          Tags:
          {% if item.musictag=="on" %}
            <div class= "buttons"><form action="/music"><button type="submit">Music</button></form></div>
          {% endif %}
          {% if (item.theatertag=="on") %}
            <div class= "buttons"><form action="/theater"><button type="submit">Theater/Film</button></form></div>
          {% endif %}
          {% if (item.dancetag=="on") %}
            <div class= "buttons"><form action="/dance"><button type="submit">Dance</button></form></div>
          {% endif %}
          {% if (item.foodtag=="on") %}
            <div class= "buttons"><form action="/food"><button type="submit">Food</button></form></div>
          {% endif %}
          {% if (item.fitnesstag=="on") %}
            <div class= "buttons"><form action="/fitness"><button type="submit">Fitness</button></form></div>
          {% endif %}
        </p>
        <a href="/ed?key={{item.key.id()}}" id="seemore">See More</a>
        <hr>
      </li>
      {% endfor %}
      </ul>
    </body>
</html>
