<html>
<head>
  <title>Tag Search Result</title>
</head>
<body>

  <ul id="navigation">
  {% for item in navigation %}
  <li>
    <p>Title:
      {{ item.eventname }}
    </p>
    <p>
      {{ item.description }}
    </p>
    <p>
      {{ item.description }}
    </p>
  </li>
    {% endfor %}
  </ul>
  <!-- {% for event in events %}
  <p>Title: {{ event.description }}</p>
    <p>Description: {{ something.something }}</p> -->






      <!-- <p>Employed:
              {{ person.job }}
        {% if person.job == True %}
          yes
        {% else %}
          no
        {% endif %}
      </p> -->
    <!-- <hr></hr>
  {% endfor %} -->
</body>



</html>
