.entry{
  color:#96a2ff;
  font-family: fantasy;
  background-color:#FFF9C9;
  font-size: 25px;
}

#header{
  color:#FFA18F;
  font-family: fantasy;
  background-color:#FFF9C9;
  font-size: 35px;
}
body{
  background-color: #FFF9C9;
}

#button{
  color: #663366;
  font-family: fantasy;
  font-size: 80px;
}

.description{
  width: 300px;
  height: 60px;
}

/* <textarea name="text" rows="14" cols="10" wrap="soft"> </textarea> */
