#header{
  color:#96a2ff;
  font-family:fantasy;
  font-size: 40px;
}

#searchbar{
  color:#FFA18F;
  font-family: fantasy;
  font-size: 20px;
}

#searchbutton{
  color:#663366;
  font-family: fantasy;
  font-size: 20px;
}

#event{
  color: #FFA18F;
  font-family: fantasy;
  font-size: 20px;
}

.buttons{
  color: #663366;
  font-family: fantasy;
  font-size: 30px;
}

body{
  background-color: #FFF9C9;
  text-align: center;
}

input[type=text]{
  width: 20%;
  border: 2px solid #FFA18F;
}

input[type="text"]{
    font-size:20px;
}
