#header{
  color:#96a2ff;
  font-family:fantasy;
  font-size: 40px;
}

#searchbar{
  color:#FFA18F;
  font-family: fantasy;
  font-size: 25px;
}

#searchbutton{
  color:#663366;
  font-family: fantasy;
  font-size: 20px;
}

#event{
  color: #FFA18F;
  font-family: fantasy;
  font-size: 20px;
}

#back{
  color:#663366;
  font-size: 20px;
  font-family: fantasy;
}

/* .buttons{
  color: #663366;
  font-family: fantasy;
  font-size: 30px;
} */

body{
  background-color: #FFF9C9;
  text-align: center;
  background-image: url("/stylesheets/searchicon.png");
  background-repeat: no-repeat, repeat;
  background-size: auto;

}

input[type="text"]{
    font-size:20px;
    width: 20%;
    border: 2px solid #FFA18F
}
