#header{
  color: #96a2ff;
  background-color: #FFF9C9;
  font-family: fantasy;
  text-align: center;
  font-size: 28px;
}

#description{
  color: #FFA18F;
  font-family: fantasy;
  text-align: center;
  font-size: 22px;
}

.buttons{
  color: inherit;
  font-family: fantasy;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

body{
  background-color: #FFF9C9;
  text-align: center;
}
