body{
  color:#96a2ff;
  background-color: #FFF9C9;
  font-family: fantasy;
  font-size: 35px;
  text-align: center;
}

#back{
  color:#663366;
  background-color: #FFF9C9;
  font-family: fantasy;
  font-size: 35px;
  text-align: center;
}
