body{
  color:#96a2ff;
  background-color: #FFF9C9;
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
}

#line{
  color:#FFA18F;
}

#seemore{
  color:#663366;
}

#header{
  font-size: 30px;
}

.buttons{
  display:inline-block;
  color: #FFA18F;
}

#back{
  text-align: right;
  color: #663366;
}

ul{ list-style-type: none; }

.buttons {
  color: #900;
  font-weight: bold;
  font-size: 150%;
  text-transform: uppercase;
}
